/* CSS Custom / Overrride */
.clear-space, /submit-form-regis{
	clear: both;
	margin: 30px 0;
}
/* table */
.table{
	float: left;
}
/* Page Header */
.pageheader h2{
	max-width: 300px;
	margin-left: 50px;
}
.pageheader h2 i{
	margin-left: -50px;
}
/* -- breadcrumb */
.pageheader .breadcrumb-wrapper{
	max-width: 500px;
	text-align: right;
}
.pageheader .breadcrumb-wrapper .label{
	padding: 0;
}
/* end breadcrumb */
/* end Page Header */

/* panel heading with button add */
.panel-default > .panel-heading{
	min-height: 90px;
}
.menu-head-info, .button-head{
	float: left;
}
.menu-head-info{
	width: 700px;
}
.button-head{
	width: 180px;
	margin: 5px 0;
}
button .fa-plus{
	margin: 0 5px;
}
/* end panel heading with button add */

/* add member and edit member */
@media only screen and (min-width:960px){
	#addMember .modal-dialog, #editMember .modal-dialog{
		width: 800px;
	}
}