/* CSS Custom / Overrride */
.clear-space, /submit-form-regis{
	clear: both;
	margin: 30px 0;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.table, .menu-head-info, .button-head, .total-amount, .menu-head, .menu-search-product{
	float: left;
}

/* Page Header */
.pageheader h2{
	max-width: 300px;
	margin-left: 50px;
}
.pageheader h2 i{
	margin-left: -50px;
}
/* -- breadcrumb */
.pageheader .breadcrumb-wrapper{
	max-width: 500px;
	text-align: right;
}
.pageheader .breadcrumb-wrapper .label{
	padding: 0;
}
/* end breadcrumb */
/* end Page Header */

/* panel heading with button add */
.panel-default > .panel-heading{
	min-height: 120px;
}
.menu-head-info{
	width: 700px;
}
.button-head{
	width: 180px;
	margin: 5px 0;
}
.button-head a{
	float: right;
}
button .fa-plus{
	margin: 0 5px;
}
/* end panel heading with button add */


/* POS Inventory*/
.panel-body.pos{
	background: #fff;
}
.menu-head h2{
	margin: 0;
}
.menu-head .col-sm-12{
	padding: 0;
}
#posBeli > .panel-heading{
	min-height: 120px;
}
.menu-head{
	width: 300px;
	margin: 35px 0;	
}
.menu-search-product{
	margin: 35px 10px;
	min-height: 30px;
	width: 50px;
}
.menu-search-product button{
	font-size: 18px;
	padding: 10px 12px;
}
.total-amount{
	width: 445px;
	text-align: right;
}
.total-amount h1, .total-amount h4{
	margin: 0 0 10px;
}
.total-amount h4{
	text-transform: uppercase;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	vertical-align: middle;
	border-top: none;
	border-color: transparent;
/* 	background: #fff; */
}
.pos table tr td:nth-child(1){
	width: 80px;
}
.discounted-products .pos table tr,
.pos table tr{
	border-bottom: 1px dashed #ccc;
}
.discounted-products table tr:last-child,
.pos table tr:last-child{
	border-bottom: none;
}
.pos table tr td img{
	max-width: 80px;
	max-height: 80px;
}
.discounted-products .delete-row i,
.pos table .delete-row i{
	color: #c7254e;
}
/* end POS Inventory */



/* POS Sales */
#posJual > .panel-heading{
	min-height: 210px;
}
.menu-head.pos-sales{
	margin: 0;
	width: 500px;
}
.menu-head.pos-sales div{
	margin-bottom: 10px;
}
.menu-head.pos-sales .nota-id, .menu-head.pos-sales .customer-id {
	float: left;
}
.menu-head.pos-sales .nota-id{
	margin-right: 25px;
	margin-bottom: 40px;
}
/* end POS Sales */


/* add member and edit member */

/* vertical menu */
.nav-tabs.nav-justified{
	float: left;
	width: 20%;
}
.tab-content{
	float: right;
	width: 80%;
}
.nav-tabs{
	background: #fff9e9;
}
.nav-tabs.nav-justified>li{
	float: left !important;
	width: 100% !important;
}
.nav-tabs.nav-justified > li > a{
	text-align: left;
	font-size: 13px;
	font-weight: normal !important;
}
.nav-tabs.nav-justified > li.active > a{
	font-weight: bold !important;
	color: #000;
}
.nav-tabs.nav-justified > li{
	border-bottom: 1px dotted #ccc;
}
.nav-tabs>li{
	margin-bottom: 0;
}
.nav-tabs.nav-justified > li:last-child{
	border-bottom: none;
}

.nav-tabs.nav-justified > li:hover > a{
	background: #fdeec5;
}
.nav-tabs.nav-justified > li > a, .tab-content{
	border-radius: 0 !important;
}
.tab-content>.tab-pane{
	min-height: 200px;
	padding: 0 10px;
}
/* end vertical menu */

/* content vertical menu */
.pane-header{
	border-bottom: 4px solid #dfdfdf;
	margin-bottom: 20px;
}
.pane-header h5{
	text-transform: uppercase;
}
.pane-header-content{
	background: #636e7b;
	padding: 5px 10px;	
}
.pane-header-content a{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}
.pane-header-content li:hover,
.pane-header-content li a:hover{
	text-decoration: none;
	cursor: hand;
}
.pane-content{
	border: 1px solid #ededed;
}
.pane-content .panel-footer{
	background: none;
}
/* end content vertical menu */

/* edit member */
.panel-body.discounted-products{
	background: #fff;
}
/* end edit member */
@media only screen and (min-width:960px){
	#addMember .modal-dialog, #editMember .modal-dialog{
		width: 800px;
	}
}