.storage-product, .rack{
	border: 2px solid #428BCA;
	margin-bottom: 15px;
	padding: 6px 10px;
	color: #357EBD;
	font-size: 10px;
	font-family: 'LatoBold';
	font-weight: 400;
	text-transform: uppercase;
	vertical-align: middle;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.storage-product span{
	border-color: #357EBD;
	border-bottom: none;
	border-right: none;
	background: none;
}
.storage-product:hover, .rack:hover{
	cursor: pointer;
	cursor: hand;
}
.storage-product.active, .storage-product.active label{
	color: #fff;
}
.storage-product.active{
	background-color: #357EBD;
}
.storage-product.active span{
	border-color: #fff;
}

.row{
	margin-bottom: 16px;
	width: 100%;	
}
.rack{
	text-align: center;
	margin: 0 8px;
	height: 80px;
	vertical-align: middle;
}
.rack label.rack-title{
	position: absolute;
	top: 38%;
	left: 0;
	padding: 0 52%;
	z-index: 999;
}
.rack label.empty{
	color: #357EBD;
}
.rack label.warning{
	color: #fff;
}
.row > .rack:nth-child(5){
	margin-right: 0;
}
#capacity{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 1.5s ease-out;
	-moz-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	transition: all 1.5s ease-out;
	z-index: 1;
}
#capacity.lots{
	background-color: #9cc6ff;
}
#capacity.warning{
	background-color: #e9ba17;
}
#capacity.full{
	background-color: #e9082a;
}